<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>MarburgOpenForest Tree Species Classification</h1>
        <p>Interactive Report on Methods & Results</p>
      </header>
      <p>On this site you will find information about a one semester course on remote sensing and geographical information systems (GIS) at the University of Marburg.</p>
      </div>
    <span class="image object">
      <img src="assets/images/biodiv-min.png" alt="Biodiversity Index" />
    </span>
  </section>


